<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66255256533-4dqe91af8s0qu7i92um30cl7ssm9hu5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66255256533-4dqe91af8s0qu7i92um30cl7ssm9hu5i</string>
	<key>API_KEY</key>
	<string>AIzaSyA9AdYmdeRep2-I2kugyKtsMMjvyWaEu7c</string>
	<key>GCM_SENDER_ID</key>
	<string>66255256533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-application-96713</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-application-96713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66255256533:ios:dea838ea03a11e03bbdb5c</string>
</dict>
</plist>